.map { 
  background-color: black;
  height: 100vh;
  width: 100vw; 
}

.overlay{
  width:32px;
  height:88px;
  alt:"";
}

.course{
  width:160px;
  height:300px;
  alt:"";
}

.block{
  width: 400px;
  height: 800px;
  padding: 10px;
  border: 5px solid black;
  margin: 0;
}